@model IEnumerable<FantasyApp.ViewModels.ZawodnikHistoriaCenViewModel>

@{
    ViewData["Title"] = "Aktualności";
    var currentPage = ViewBag.CurrentPage;
    var totalPages = ViewBag.TotalPages;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/aktualnosci.css" rel="stylesheet" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="header">
        <h1>Aktualności</h1>
    </div>

    <div class="page-container">
        <div class="table-wrapper">
            <h3>Dane zawodników i ich historia cen</h3>
            <table>
                <thead>
                    <tr>
                        <th>Nazwisko</th>
                        <th>Cena</th>
                        <th>Kolejka</th>
                        <th>CenaPrzed</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Nazwisko</td>
                            <td>@item.Cena.ToString("C")</td>
                            <td>@item.Kolejka</td>
                            <td>@item.CenaPrzed.ToString("C")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
