@model IEnumerable<FantasyApp.Models.ZawodnikStatystykiViewModel>



@{
    ViewData["Title"] = "Statystyki";
}
<!DOCTYPE html>
    <html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewData["Title"] - Fantasy Legends</title>
    <link href="~/css/statystyki.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Main Content -->
        <main class="main-content">
        <form method="get" action="/Home/Statystyki">
            <select name="pozycja" class="dropdown" onchange="this.form.submit()">
                <optgroup label="Pozycje">
                    @if (ViewBag.Pozycja == "Wszyscy")
                    {
                        <option value="Wszyscy" selected>Wszyscy zawodnicy</option>
                    }
                    else
                    {
                        <option value="Wszyscy">Wszyscy zawodnicy</option>
                    }
                    @if (ViewBag.Pozycja == "Bramkarz")
                    {
                        <option value="Bramkarz" selected>Bramkarz</option>
                    }
                    else
                    {
                        <option value="Bramkarz">Bramkarz</option>
                    }
                    @if (ViewBag.Pozycja == "Obrońca")
                    {
                        <option value="Obrońca" selected>Obrońca</option>
                    }
                    else
                    {
                        <option value="Obrońca">Obrońca</option>
                    }
                    @if (ViewBag.Pozycja == "Pomocnik")
                    {
                        <option value="Pomocnik" selected>Pomocnik</option>
                    }
                    else
                    {
                        <option value="Pomocnik">Pomocnik</option>
                    }
                    @if (ViewBag.Pozycja == "Napastnik")
                    {
                        <option value="Napastnik" selected>Napastnik</option>
                    }
                    else
                    {
                        <option value="Napastnik">Napastnik</option>
                    }
                </optgroup>
            </select>
        </form>

            <div>
            <div class="zawodnik-table-wrapper">
                <table class="zawodnik-table">
                    <thead>
                        <tr>
                            @if (ViewBag.Pozycja == "Wszyscy")
                            {
                                <th>Nazwisko</th>
                                <th>Klub</th>
                                <th>Pozycja</th>
                                <th>Punkty</th>
                            }
                            else
                            {
                                <th>Nazwisko</th>
                                <th>Klub</th>
                                <th>Bramki</th>
                                <th>Asysty</th>
                                <th>Zolte Kartki</th>
                                <th>Czerwone Kartki</th>
                                <th>Karne Spowodowane</th>
                                <th>Karne Wywalczone</th>
                                <th>Karne Zmarnowane</th>
                                <th>Strzały Obronione</th>
                                <th>Punkty</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var zawodnik in Model.OrderByDescending(z => z.Punkty))
                        {
                            <tr>
                                @if (ViewBag.Pozycja == "Wszyscy")
                                {
                                    <td>@zawodnik.Nazwisko</td>
                                    <td>@zawodnik.Klub</td>
                                    <td>@zawodnik.Pozycja</td>
                                    <td>@zawodnik.Punkty</td>
                                }
                                else
                                {
                                    <td>@zawodnik.Nazwisko</td>
                                    <td>@zawodnik.Klub</td>
                                    <td>@zawodnik.Bramki</td>
                                    <td>@zawodnik.Asysty</td>
                                    <td>@zawodnik.ZolteKartki</td>
                                    <td>@zawodnik.CzerwoneKartki</td>
                                    <td>@zawodnik.KarneSpowodowane</td>
                                    <td>@zawodnik.KarneWywalczone</td>
                                    <td>@zawodnik.KarneZmarnowane</td>
                                    <td>@zawodnik.StrzalyObronione</td>
                                    <td>@zawodnik.Punkty</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>


            </div>
        </main>
    </body>
    </html>