<ul class="nav navbar-nav">
    <li>
        <a href="@Url.Action("Aktualnosci","Home")">Aktualności</a>
    </li>
    @if (User.Identity.IsAuthenticated)
    {
        <li>
            <a href="@Url.Action("Budowanie_zespolu","Home",new {pozycja= "Wszyscy"})">Budowanie zespołu</a>
        </li>
    }
    <li>
        <a href="@Url.Action("Ranking","Home")">Ranking</a>
    </li>
    <li>
        <a href="@Url.Action("Statystyki","Home")">Statystyki</a>
    </li>
    <li>
        <a href="@Url.Action("Terminarz","Home")">Terminarz</a>
    </li>
    <li>
        <a href="@Url.Action("Zasady_faq","Home")">Zasady/FAQ</a>
    </li>
    <li>
        <a href="@Url.Action("Kontakt","Home")">Kontakt</a>
    </li>
</ul>

<ul class="nav navbar-nav navbar-right">
    @if (User.Identity.IsAuthenticated)
    {
        <li><a href="@Url.Action("Logout","Account")"><span class="glyphicon glyphicon-log-out"></span> Wyloguj się</a></li>
    }
    else
    {
        <li><a href="@Url.Action("Login_Register","Account")"><span class="glyphicon glyphicon-log-in"></span> Logowanie / Rejestracja</a></li>
    }
</ul>
